
.slider-track {
  display: flex;
  gap: 1rem;
  width: max-content;
  animation: slide 30s linear infinite;
}

/* Pause on hover */
.slider-track:hover {
  animation-play-state: paused;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}